@font-face {
  font-family: 'Arabic';
  src: url(../../assets/fonts/MadaniArabic-SemiBold.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Arabic';
  src: url(../../assets/fonts/MadaniArabic-Bold.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Arabic';
  src: url(../../assets/fonts/MadaniArabic-ExtraBold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Arabic';
  src: url(../../assets/fonts/MadaniArabic-Regular.otf) format("opentype");
  font-weight: normal;
}
