.pg-tr {
  padding: 16px 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  font-size: 14px;

  .pg_col {
    width: 40%;
    padding-left: 20px;
    display: flex;
    justify-content: start;
  }
  .pg_col:last-child {
    width: 20%;
    min-width: 100px;
    padding-right: 20px;
  }
  .pg_title__bold {
    font-weight: bold;
  }
}
