@import "../../styles/constants.css";

.bar-chart-item {
  margin-bottom: 20px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;

  .bar-chart-row {
    width: 100%;
    display: flex;
    border: 2px solid var(--color-black);
    border-width: 0;

    .num {
      font-size: 12px;
      font-weight: 600;
      margin-right: 36px;
    }
    .title {
      font-size: 12px;
    }
  }
  .bar-graph {
    transform-origin: left;
    /* transform: scaleX(0); */
    transition: all 1s ease-in-out;
  }
}

@media screen and (max-width: 576px) {
  .bar-chart-item {
    margin-bottom: 18px;

    .bar-graph {
      /* margin: 0 2px; */
      height: 22px;
      /* transform: scaleX(1); */
    }
    .bar-chart-row {
      border-width: 0 0 2px 0;
      
      .title {
        margin-left: 12px;
        margin-bottom: 6px;
        margin-right: 12px;
      }
      .num {
        margin: 0;
      }
    }
  }
}
