mixin twoValuesRow(options)
  -const {val1, val2, isOrange} = options || {};
  -const firstVal = `${val1}%`;
  -const secondVal = `(${val2})`;
  .twoValuesRow(class!= attributes.class)
    span.twoValues__val1(class= isOrange ? 'twoValues__orange' : 'twoValues__blue')= firstVal
    if val2
      span.twoValues__val2(class= isOrange ? 'twoValues__orange' : 'twoValues__blue')= secondVal
