include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/popupPage/popupPage.pug
include ../../common/ui/appTab/appTab.pug
include ../../common/ui/labelWithColor/labelWithColor.pug

mixin KfasMediaPage()
  +popupPage({
    title: 'KFAS Social Media Followers', 
    closeClass: 'kfasMediaClose',
    headerColor: '#FFE4C1',
    buttonColor: '#FFCF90'
    })(class="kfasMediaPage")

    .container-kfas-media 
      .socials-tabs 
        +appTab({
          id: 'kfas-insta', 
          activeColor: '#BE4EF9'
          })(class="kfas-media-tab active")
          <svg class="svg" width="40" height="34" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#inst-clip)"><path d="M17 3.063c4.54 0 5.077.017 6.87.099a9.406 9.406 0 0 1 3.156.585 5.629 5.629 0 0 1 3.227 3.227 9.405 9.405 0 0 1 .585 3.156c.082 1.793.099 2.33.099 6.87s-.017 5.077-.1 6.87a9.407 9.407 0 0 1-.584 3.156 5.63 5.63 0 0 1-3.227 3.227 9.408 9.408 0 0 1-3.157.585c-1.792.081-2.33.099-6.869.099-4.54 0-5.077-.018-6.87-.1a9.408 9.408 0 0 1-3.156-.584 5.63 5.63 0 0 1-3.226-3.227 9.408 9.408 0 0 1-.586-3.157c-.082-1.792-.099-2.33-.099-6.869 0-4.54.017-5.077.1-6.87a9.407 9.407 0 0 1 .585-3.156 5.63 5.63 0 0 1 3.226-3.227 9.407 9.407 0 0 1 3.156-.585c1.793-.082 2.33-.099 6.87-.099zM17 0c-4.617 0-5.196.02-7.01.102-1.41.029-2.805.296-4.126.79A8.693 8.693 0 0 0 .892 5.864a12.478 12.478 0 0 0-.79 4.127C.02 11.804 0 12.383 0 17c0 4.617.02 5.196.102 7.01.029 1.41.296 2.805.79 4.126a8.693 8.693 0 0 0 4.972 4.972c1.321.494 2.717.762 4.127.79C11.804 33.98 12.383 34 17 34c4.617 0 5.196-.02 7.01-.102a12.476 12.476 0 0 0 4.126-.79 8.693 8.693 0 0 0 4.972-4.972c.494-1.321.762-2.717.79-4.127C33.98 22.196 34 21.617 34 17c0-4.617-.02-5.196-.102-7.01a12.48 12.48 0 0 0-.79-4.126A8.693 8.693 0 0 0 28.136.892a12.478 12.478 0 0 0-4.127-.79C22.196.02 21.617 0 17 0z"/><path d="M17 8.27a8.73 8.73 0 1 0 0 17.46 8.73 8.73 0 0 0 0-17.46zm0 14.397a5.666 5.666 0 1 1 0-11.333 5.666 5.666 0 0 1 0 11.333zM26.074 9.966a2.04 2.04 0 1 0 0-4.08 2.04 2.04 0 0 0 0 4.08z"/></g><defs><clipPath id="inst-clip"><path d="M0 0h34v34H0z"/></clipPath></defs></svg>

        +appTab({
          id: 'kfas-twitter',
          activeColor: '#000000'
          })(class="kfas-media-tab")
          <svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.8776 0H35.6741L22.9469 14.428L37.8163 34H26.1476L17.0117 22.1063L6.55265 34H0.756075L14.2394 18.5683L0 0H11.9586L20.2124 10.865L29.8776 0ZM27.8488 30.6125H31.0621L10.27 3.26199H6.81729L27.8488 30.6125Z"/></svg>
          
        +appTab({
          id: 'kfas-fb',
          activeColor: '#4166AF'
          })(class="kfas-media-tab")
          <svg width="20" height="36" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="m18.283 20.097 1.014-6.466h-6.343V9.435c0-1.769.886-3.493 3.727-3.493h2.884V.437A35.942 35.942 0 0 0 14.445 0C9.222 0 5.808 3.097 5.808 8.703v4.928H0v6.466h5.807v15.631c2.368.363 4.78.363 7.147 0v-15.63h5.33z" /></g><defs><clipPath id="a"><path d="M0 0h19.565v36H0z"/></clipPath></defs></svg>
        +appTab({
          id: 'kfas-in',
          activeColor: '#0C64C5'
          })(class="kfas-media-tab")
          <svg width="31" height="30"  xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#in-clip)"><path d="M16.613 12.669c.416-.469.76-.944 1.188-1.348a6.521 6.521 0 0 1 4.691-1.85c.995-.017 1.988.104 2.95.358a5.765 5.765 0 0 1 4.094 4.306c.408 1.611.592 3.271.545 4.933.006 3.506-.01 7.012-.002 10.519 0 .328-.092.414-.415.411a324.129 324.129 0 0 0-5.419 0c-.318.004-.386-.095-.385-.395.01-3.336.01-6.673.002-10.009a8.997 8.997 0 0 0-.291-2.485 2.793 2.793 0 0 0-3.073-2.177c-2.142.113-3.256 1.174-3.529 3.352a12.46 12.46 0 0 0-.095 1.565c.002 3.244-.004 6.49.008 9.734.002.323-.08.419-.41.416-1.82-.016-3.639-.017-5.458-.001-.292.002-.376-.077-.376-.372.008-6.424.008-12.848 0-19.272 0-.318.104-.391.404-.39 1.728.014 3.456.013 5.183 0 .318-.003.4.1.393.401-.017.768-.005 1.536-.005 2.304zM6.715 20.01c0 3.178-.005 6.356.008 9.534.001.353-.087.46-.452.456-1.806-.02-3.612-.015-5.417-.003-.29.003-.377-.07-.376-.369.008-6.434.009-12.869.001-19.303 0-.267.064-.362.347-.36 1.832.012 3.664.016 5.496-.002.351-.003.4.133.399.435-.01 3.204-.011 6.408-.006 9.612zM7.213 3.588A3.607 3.607 0 1 1 3.613 0a3.619 3.619 0 0 1 3.6 3.588z"/></g><defs><clipPath id="in-clip"><path  d="M0 0h30.082v30H0z"/></clipPath></defs></svg>
        +appTab({
          id: 'kfas-youtube',
          activeColor: '#E02F2F'
          })(class="kfas-media-tab")
          <svg width="43" height="30" viewBox="0 0 43 30" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_664_1853)">
            <path d="M41.9615 4.68457C41.7173 3.77643 41.2387 2.94842 40.5737 2.28343C39.9087 1.61844 39.0807 1.13988 38.1726 0.89559C34.8304 1.78828e-05 21.4286 0 21.4286 0C21.4286 0 8.02676 1.78828e-05 4.68457 0.89559C3.77642 1.13987 2.94839 1.61844 2.28341 2.28343C1.61843 2.94842 1.13984 3.77642 0.895566 4.68457C2.02795e-06 8.02676 0 15 0 15C0 15 2.02795e-06 21.9732 0.895566 25.3154C1.13986 26.2236 1.61846 27.0517 2.28343 27.7167C2.94841 28.3816 3.77643 28.8602 4.68457 29.1045C8.02676 30 21.4286 30 21.4286 30C21.4286 30 34.8304 30 38.1726 29.1045C39.0807 28.8602 39.9087 28.3815 40.5737 27.7166C41.2387 27.0516 41.7172 26.2236 41.9615 25.3154C42.8571 21.9732 42.8571 15 42.8571 15C42.8571 15 42.8571 8.02676 41.9615 4.68457ZM17.1428 21.4286V8.57144L28.277 15.0002L17.1428 21.4286Z"/>
            </g>
            <defs>
            <clipPath id="clip0_664_1853">
            <rect width="42.8571" height="30" fill="white"/>
            </clipPath>
            </defs>
          </svg>
      .socials-chart
        .canvas-wrapper 
          canvas#socials-chart
        //- .description-row 
        //-   +labelWithColor({text: 'Engagement', color: '#569FD6'}) 
        //-   +labelWithColor({text: 'Followers', color: '#F47D39'}) 

